header {
    background-color: gray;
    text-align: center;
}

body {
    background-color: rgb(27, 27, 27);
}

#Computer {
    width: 100%;
    height: 30%;
    background-color: brown;
    border-radius: 5%;
    box-shadow: 0 3px 20px black;
    margin-bottom: 2%;
    
}

#Player {
    width: 100%;
    height: 28%;
    background-color:brown;
    float: left  ;
    border-radius: 5%;
    box-shadow: 0 3px 20px black;
    margin-top: 2%;
}

#Deck {
    width: 12%;
    height: 33%;
    background-color: brown;
    float: left;
    margin-left: 10%;
    border-radius: 5%;
    box-shadow: 0 3px 20px black
}

#Ablage {
    width: 12%;
    height: 33%;
    background-color: brown;
    float: right;
    margin-right: 10%;
    border-radius: 5%;
    box-shadow: 0 3px 20px black
}

img {
    border-radius: 10%;
    box-shadow: 0 3px 10px black;
    height: 90%;
    image-orientation: from-image;
    margin-left: 0.5%;
}


