/*Desktop Ansicht*/

header
{
    width: 100%;
    clear: left;
    background-color: #2f4f4f;
    padding-bottom: 4%
}

h1
{
    text-align: center;
    font-size: 5em;
    color: rgb(255, 255, 255);
    margin: 0%;
}


.BM
{
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
}


.BM:hover
{
    transform: rotate(90deg);
    transition: 300ms
}

nav
{
    float: right;
    height: 3em;
    overflow: hidden;
}


nav:hover
{
    height: auto;
}

li
{
    list-style: none;
    display: block;
}

    li:hover
    {
        text-decoration: underline;
        cursor: pointer;
    }

a
{
    color: white
}

aside
{
    width: 20%;
    background-color: rgb(163, 163, 163);
    overflow: auto;
    z-index: 100;
}

.left
{
    float: left
}

.right
{
    float: right;
}

main
{
    width: 60%;
    background-color: #2f4f4f;
    margin-left: 20%;
}

section
{
    float: left;
    width: 32%;
    height: 300px;
    overflow: auto;
    margin: 0.25%;
    padding: 0.25%
}
    .F
    {background-color: firebrick}
    .W
    {background-color: rgb(46, 55, 139)}
    .E 
    {background-color: rgb(83, 31, 0)}
    .L 
    {background-color: skyblue}

footer
{
    width: 100%;
    text-align: center;
    background-color: #2f4f4f;
    float: left
}

body
{
    background-color: rgb(45, 62, 68)
}

img
{
    margin: 3%;
    width: 94%;
}

/*Tablet Ansicht*/

@media screen and (max-width: 1200px)
{
    section
    {
    width: 49%;
    }
}

/*Smartphone Ansicht*/

@media screen and (max-width: 600px)
{
    section
    {
        width: 100%
    }
    aside
    {
        width: 100%
    
    }
    main 
    {
        margin-left: 0%;
        width: 100%
    }
    .left:hover
    {
        
    }

}